.navbar {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    height: fit-content;
    padding: 10px 40px 10px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    background-color: white;
    border-bottom: 3px solid var(--green); 
}

.logo {
    width: 150px;
    height: auto;
    object-fit: cover;
}

.logoImg {
    width: 100%;
    height: 100%;
}

.navItems {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 10px;
}

.navbarMobile {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.mobileNavHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.menuTitle {
    font-size: 1.6rem;
    font-weight: 600;
    color: black;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}